name: Ping every 15 minutes

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Test step
        run: echo "Yaml and cron mastered"
